<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../../static/style.css" rel="stylesheet" type="text/css"/>
    <script defer src="../../static/sricpt.js"></script>
    <title>Focal</title>
</head>
<body>
    <header>
        <h1>Focal</h1>
    </header>

    {%block content%}
    {% endblock %}

    <footer>
        <h1>Patrick</h1>
    </footer>
</body>
</html>