<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../../static/style.css" rel="stylesheet" type="text/css"/>
    <script defer src="../../static/sricpt.js"></script>
    <title>Focal</title>
</head>
<body class="min-h-screen flex flex-col">
    <header class="relative bg-[#1E293B] flex justify-between items-center py-4 px-8 mb-auto">
        <a href="/"><img src="../../static/images/focal_logo.png" height="52" width="163"/></a>
        <form action="/search" method="get" class="absolute left-1/2 -translate-x-1/2 flex items-center gap-2">
            <input type="text" name="q" placeholder="Search..." 
                class="bg-[#334155] text-white px-3 py-1 rounded-full outline-none"/>
            <button type="submit" 
                    class="text-[#F8FAFC] bg-[#3B82F6] px-4 py-1 hover:bg-[#60A5FA] rounded-full">
                Search
            </button>
        </form>
        <nav>
            <ul class="flex flex-row gap-5">
                {%if session.get('user')%} 
                <li class="text-[#60A5FA] font-semibold"><a href="/user/{{session['user']}}">{{session['user']}}</a></li>
                <li class="text-[#475569]">|</li>
                {%endif%}
                <li><button class="text-[#F8FAFC] bg-[#3B82F6] px-4 py-1 hover:bg-[#60A5FA] active:bg-[#b6caff] focus:outline-none focus:ring focus:ring-[#2563EB] rounded-full"><a href="/">Menu</a></button></li>
                {%if session.get('user')%}
                <li><button class="text-[#F8FAFC] bg-[#3B82F6] px-4 py-1 hover:bg-[#60A5FA] active:bg-[#b6caff] focus:outline-none focus:ring focus:ring-[#2563EB] rounded-full"><a href="/feed">Feed</a></button></li>
                <li><button class="text-[#F8FAFC] bg-[#3B82F6] px-4 py-1 hover:bg-[#60A5FA] active:bg-[#b6caff] focus:outline-none focus:ring focus:ring-[#2563EB] rounded-full"><a href="/publish">Publish</a></button></li>
                <li><button class="text-[#F8FAFC] bg-[#3B82F6] px-4 py-1 hover:bg-[#60A5FA] active:bg-[#b6caff] focus:outline-none focus:ring focus:ring-[#2563EB] rounded-full"><a href="/profile">Profile</a></button></li>
                {%else%}
                <li><button class="text-[#F8FAFC] bg-[#3B82F6] px-4 py-1 hover:bg-[#60A5FA] active:bg-[#b6caff] focus:outline-none focus:ring focus:ring-[#2563EB] rounded-full"><a href="/login">Log In</a></button></li>
                <li><button class="text-[#F8FAFC] bg-[#3B82F6] px-4 py-1 hover:bg-[#60A5FA] active:bg-[#b6caff] focus:outline-none focus:ring focus:ring-[#2563EB] rounded-full"><a href="/signup">Sign Up</a></button></li>
                {%endif%}
            </ul>
        </nav>
    </header>

    <main class="bg-[#0F172A] flex-grow">
        {%block content%}
        {% endblock %}
    </main>

    <footer class="bg-[#1E293B] mt-auto">
        <h1 class="text-[#F8FAFC]">Patrick Addison 2026</h1>
        <h1 class="text-[#F8FAFC]">contact me: patrick.addison45@gmail.com</h1>
    </footer>
</body>
</html>